<div class="container produtos" align="center">
   <div class="row ">
        <div class=" col-md-8" id='change-img'>
        </div>
        <div class="col-md-4" id='text-pic'>
            <h1 class="text-center"> Progene</h1>
            <h2 class="text-center">Produtos de alta qualidade</h2>
            <p align="center">Aqui esta lista dos produtos mais vendidos.</p>
        </div>
    </div>
</div>

<div class="container-fluid marketing" align="center">
    <div class="row" id="smaller-buttons">
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" id="control-vol-space" >
                     
                         <div class="squared-images" >
                             <%=image_tag("glutamine.png",  alt: "glutamine", class: "img-square") %>
                         <div class="info">
                             <p>Glutamina<br/> <br/> Prozis L-Glutamine – Aumenta os teus ganhos musculares enquanto garantes que manténs a massa muscular magra que tanto te custou a ganhar!</p>
                         </div>
                         </div><!-- /.col-lg-4 -->
                    </div>
                
                 
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" id="control-vol-space" >
                 
                         <div class= "squared-images" >
                         <%=image_tag("taurine.jpg",  alt: "taurine", class: "img-square") %>
                         <div class="info">
                             <p>Taurine <br/> <br/> Amplamente utilizada no desporto, a taurina é uma excelente adição a uma refeição pré-treino. É também necessária à digestão de gorduras e à absorção de vitaminas lipossolúveis.<br/><br/> <%=link_to('Click here to view >', "https://alpha-blog-joaquim.herokuapp.com/", :target => "_blank" )%> </p>
                         </div>
                         </div><!-- /.col-lg-4 -->
                     
                    <!--<p align="center"> <a class="hero-cta" href="https://alpha-blog-joaquim.herokuapp.com/" role="button" > Visit Page <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p> -->
                </div>
                </div>
    <div class="row" id="smaller-buttons">

                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" id="control-vol-space" >
                   
                         <div class="squared-images">
                             <%= image_tag("peanutbutter.jpg",  alt: "peanutbutter", class: "img-square")%>
                         
                         <div class="info">
                             <p>Peanut Butter <br/> <br/>In this webapp you can create a profile and follow stocks by searching with the right stock symbol. You may follow friends and see what stocks they're interested in. .<br/><br/> <%=link_to('Click here to view >', "https://finance-tracker-joaquim.herokuapp.com/", :target => "_blank" )%> </p>
                         </div>
                         </div><!-- /.col-lg-4 -->
                    
                 </div>

                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" id="control-vol-space" >
                         <div class="squared-images">
                             <%= image_tag("protein bar.jpg", alt: "proteinbar", class: "img-square")%>
                        <div class="info"  >
                            
                             <p>Protein Bar <br/> <br/> Fonte natural de fibra e proteínas para a construção muscular, a manteiga de amendoim com pedaços de nozes pecan caramelizadas da Prozis é deliciosa para juntar aos teus snacks. Experimenta!<br/><br/> <%=link_to('Click here to view >', "https://joaquim-photo-app2.herokuapp.com/", :target => "_blank" )%> </p>
                         </div>
                         </div><!-- /.col-lg-4 -->
                   
                 </div>
      </div>

               
                 <div class="row" id="smaller-buttons">

                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" id="control-vol-space" >
                   
                         <div class="squared-images" >
                             <%= image_tag("prozziwhey.jpg",  alt: "protein", class: "img-square")%>
                         <div class="info">
                             <p>Whey Isolate<br/> <br/>Proteína whey da mais alta qualidade, rica em BCAAs, que te vai ajudar a aumentar a tua massa muscular e a manter o músculo que te custou tanto a ganhar. "Keep it real!"<br/><br/> <%=link_to('Click here to view >', "https://deboties.herokuapp.com", :target => "_blank" )%> </p>
                         </div>
                         </div><!-- /.col-lg-4 -->
                 </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" id="control-vol-space" >
                   
                         <div class="squared-images" >
                             <%= image_tag("shaker.jpg",  alt: "shaker", class: "img-square")%>
                         <div class="info">
                             <p>Protein Shaker<br/> <br/>Shaker Follow Your Passion<br/><br/> <%=link_to('Click here to view >', "https://deboties.herokuapp.com", :target => "_blank" )%> </p>
                         </div>
                         </div><!-- /.col-lg-4 -->
                 </div>
                 
                 </div>
                 </div>



</div>
